.footer{
    box-sizing: border-box;
    min-height: 274px;
    background: url("../img/footer2-min.png") center/cover no-repeat;
    background-color: rgb(46, 46, 46);
    padding-top: 50px;

    .container{
        display: flex;
    }
    .info {
        display: flex;
        width: 70%;
        .label{
            margin: 8px 25px;
            font-family: 'Myriad Pro - It';
            font-size: 22px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: #9c9494;
        }
        .list{
            list-style: none;
            padding-left: 0;
            margin: 0 25px;
            a{
                text-decoration: none;
                font-family: 'Myriad Pro It';
                font-size: 12px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: rgb(136, 128, 128);
                transition: all 0.4s;
                opacity: 0.8;
                &:hover{
                    color: $yellow-darker;
                    text-decoration: underline;
                }
            }
        }
    }
    .singUp{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .label{
            font-family: 'Myriad Pro - It';
            font-size: 22px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: #9c9494;
            text-align: center;
            margin-bottom: 15px;
        }
        .form{
            margin: 0 auto;
            display: flex;
            .input{
                border-radius: 25px;
                border: solid 3px $yellow-lighter;
            }
            .btn{
            background-color: $yellow-lighter;
            border-radius: 25px;
            font-family: 'Myriad Pro';
            font-size: 0.8em;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            text-align: center;
            color: #2b2b2b;
            margin: 0 auto;
                &:hover{
                    background-color: $yellow-darker;
                }
            }
        }
    }
}