.menu{
    margin-bottom: 50px;
    padding-top: 80px;
    h2{
        text-align: center;
        font-family: 'Myriad Pro - It';
        font-size: 42px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #f1ac11;
        margin-bottom: 40px;
    }
    .iclude{
        &:before{
            content: url("../img/check-min.png");
        }
    }
    .menuSelf{
        .show{
            font-family: 'Myriad Pro - It';
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            cursor: pointer;
            margin-bottom: 20px;
            &:hover{
                color: $yellow-darker;
            }
        }
        .showBefore{
            margin-left: 0;
            &:before{
                content: "";
                display: inline-block;
                background: url("../img/checkmark.svg") center/cover no-repeat;
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
        }
        .menuItems{
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            gap: 50px;
            @include menuItem;
        }
    }
}