<section class="findUs">
    <div class="container">
        <div class="card">
            <h2 class="label">Where to find us?</h2>
            <div class="logoAdress">
                <div class="logo">
                    <img src="../img/cap-min.png" alt="" class="logoImg">
                    <div class="logoText">LeRestaurante</div>
                </div>
                <div class="adress">Hršpic 128 <br> Pardubice, 530 01</div>
            </div>
            <button class="btn">show on a map</button>
        </div>
    </div>
</section>