<footer class="footer">
    <div class="container">
        <div class="info">
            <div class="aboutUs">
                <h3 class="label">About us</h3>
                <ul class="list">
                    <li class="listItem"><a href="#">Our story</a></li>
                    <li class="listItem"><a href="#">Suppliers</a></li>
                    <li class="listItem"><a href="#">news & updates</a></li>
                    <li class="listItem"><a href="#">franchise</a></li>
                </ul>
            </div>
            <div class="forYou">
                <h3 class="label">For you</h3>
                <ul class="list">
                    <li class="listItem"><a href="#">Reviews</a></li>
                    <li class="listItem"><a href="#">Facebook</a></li>
                    <li class="listItem"><a href="#">instagram</a></li>
                    <li class="listItem"><a href="#">Career</a></li>
                </ul>
            </div>
            <div class="usefull">
                <h3 class="label">useful links</h3>
                <ul class="list">
                    <li class="listItem"><a href="#">map of web</a></li>
                    <li class="listItem"><a href="#">partners</a></li>
                    <li class="listItem"><a href="#">mobile app</a></li>
                    <li class="listItem"><a href="#">other</a></li>
                </ul>
            </div>
        </div>
        <div class="singUp">
            <div class="label">sign up to our newsletter</div>
            <form class="form" action="#">
                <input class="input" type="adress" name="adress">
                <button class="btn">sign up</button>
            </form>
        </div>
    </div>
</footer>