<section class="headSection">
    <div class="container">
        <div class="burgerMenu">
            <ul>
                <li><a href="#">Price List</a></li>
                <li><a href="#">Onening Hours</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="head">
            <header class="header">
                <h1><img src="img/logo-min.png" alt="logo"></h1>
                <ul>
                    <li><a href="#">Price List</a></li>
                    <li><a href="#">Onening Hours</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul> 
                <div class="burger">
                    <span></span>
                </div>
            </header>
                <div class="cards">
                    <div class="card">
                        <div class="label">For meat lovers</div>
                        <div class="btn">Full menu</div>
                    </div>        
                    <div class="card">
                        <div class="label">Vegetarian & Vegan</div>
                        <div class="btn">Full menu</div>
                    </div>            
                    <div class="card">
                        <div class="label">see our secrets</div>
                        <div class="btn">Take me there</div>
                    </div>    
                </div>
        </div>
    </div>
</section>