<section class="slider">
    <div class="container">
        <div class="sliderSelf">
            <div class="wraper">
                <div class="slide">
                    <img src="./img/pasta-min.png" alt="pasta">
                    <div class="textWrap">
                        <div class="text">
                            <h3>Online menu</h3>
                            <h2>Spaghetti with fresh 
                                tomatoes and dressing</h2>
                        </div>
                        <div class="subtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit id veniam consequatur placeat eveniet quisquam dignissimos quibusdam adipisci, animi odit eaque vitae quae laborum incidunt repellendus officiis non perferendis quidem nesciunt
                            voluptatibus ad voluptatum aliquid nisi. Delectus sunt dignissimos ad porro illum placeat laudantium voluptas in, dolor animi ratione dolores.</div>
                        <button class="btn">Order</button>
                    </div>
                </div>
                <div class="slide">
                    <img src="./img/pasta-min.png" alt="pasta">
                    <div class="textWrap">
                        <div class="text">
                            <h3>Online menu</h3>
                            <h2>Spaghetti with fresh 
                                tomatoes and dressing</h2>
                        </div>
                        <div class="subtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit id veniam consequatur placeat eveniet quisquam dignissimos quibusdam adipisci, animi odit eaque vitae quae laborum incidunt repellendus officiis non perferendis quidem nesciunt
                            voluptatibus ad voluptatum aliquid nisi. Delectus sunt dignissimos ad porro illum placeat laudantium voluptas in, dolor animi ratione dolores.</div>
                        <button class="btn">Order</button>
                    </div>
                </div>
                <div class="slide">
                    <img src="./img/pasta-min.png" alt="pasta">
                    <div class="textWrap">
                        <div class="text">
                            <h3>Online menu</h3>
                            <h2>Spaghetti with fresh 
                                tomatoes and dressing</h2>
                        </div>
                        <div class="subtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit id veniam consequatur placeat eveniet quisquam dignissimos quibusdam adipisci, animi odit eaque vitae quae laborum incidunt repellendus officiis non perferendis quidem nesciunt
                            voluptatibus ad voluptatum aliquid nisi. Delectus sunt dignissimos ad porro illum placeat laudantium voluptas in, dolor animi ratione dolores.</div>
                        <button class="btn">Order</button>
                    </div>
                </div>
            </div>
            <button class="prev">◄</button>
            <button class="next">►</button>
        </div>
    </div>
</section>