@font-face {
    font-family: "MyriadProIt"; 
    src: url("fonts/MyriadProBoldItalic.woff2"), format('woff2'),; 
    font-style: normal; 
    font-weight: 700; 
    } 

@font-face {
    font-family: "MyriadProRegular"; 
    src: url("fonts/MyriadProRegular.woff2"), format('woff2'),; 
    font-style: normal; 
    font-weight: 400; 
    }

@font-face {
    font-family: "MyriadProBold"; 
    src: url("fonts/MyriadProBold.woff2"), format('woff2'),; 
    font-style: normal; 
    font-weight: 700; 
    } 